{% extends 'absences/base.html' %}
{% block content %}
    <h2>Groupes</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ajouter un groupe</button>
    </form>

    <ul>
        {% for groupe in groupes %}
            <li>
                {{ groupe.nom }}
                <a href="{% url 'modifier_groupe' groupe.id %}" class="btn-modifier">📝</a>
                <a href="{% url 'supprimer_groupe' groupe.id %}" class="btn-supprimer">✖️</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
